
<section class="booking pos-relative d-flex flex-column align-items-center justify-content-between">
  
  <header class="width-100 pos-sticky top-0 d-flex flex-column align-items-center z-index-2">
    <app-header shrinked="true"></app-header>
    <div class="width-100 max-width-992">
      <app-tabs [items]="tabs | translateArr | async" [current]="currentTabIndex" (tabClick)="onTabClick($event)"></app-tabs>
    </div>
  </header>
  
  <div class="width-100 z-index-1">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
  
  <div class="booking__bg width-100 height-100 pos-fixed top-0 z-index-minus-2"></div>
  
</section>
