
<section class="booking pos-relative d-flex flex-column align-items-center justify-content-between">
  
  <header class="width-100 pos-sticky top-0 z-index-2">
    <app-header shrinked="true"></app-header>
    <app-tabs [items]="tabs" [current]="currentTabIndex" (tabClick)="onTabClick($event)"></app-tabs>
  </header>
  
  <router-outlet></router-outlet>

  <app-footer></app-footer>
  
  <div class="booking__bg width-100 height-100 pos-fixed top-0 z-index-minus-1"></div>
  
</section>

<!-- https://shop.whistler.scandinave.com/reservations/category/1362/ -->
