
$delay: .2s;
$colour: #fff;

a {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.arrow {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid $colour;
  box-sizing: border-box;
  transition: all $delay ease;
  &.top { transform: rotate(-90deg); }
  &.bottom { transform: rotate(90deg); }
  &.left { transform: rotate(180deg); }
  &.right { transform: rotate(0); }
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  transition: all $delay ease-in-out;
}

.arrow::before {
  width: 0%;
  height: 2px;
  left: -25px;
  top: 50%;
  transform: translate(0, -50%);
  background: $colour;
}

.arrow::after {
  width: 10px;
  height: 10px;
  left: 10.5px;
  top: 50%;
  border: 2px solid $colour;
  border-left: 0;
  border-bottom: 0;
  transform: translate(50%, -50%) rotate(45deg);
}

.arrow:hover {
  cursor: pointer;
  border-color:transparent;
  transition: all $delay ease;
}

.arrow:hover::before {
  opacity: 1;
  left: -5px;
  width: calc(100% + 5px);
}

.arrow:hover::after {
  left: calc(50px - 24px/2);
  transform: scale(1.5) translate(-30%, -35%) rotate(45deg);
}
