
<section class="d-flex flex-column justify-content-center align-items-center pos-relative overflow-hidden height-100">

  <div class="width-100 mt-rem-3">
    <app-slider-quote [quotes]="quotes"></app-slider-quote>
  </div>

  <div class="d-flex flex-grow-1 align-items-center justify-content-center width-100">
    <div class="row width-100 max-width-992">
      <div *ngFor="let card of productCards" class="col-3 px-rem-1">
        <app-product-card [card]="card"></app-product-card>
      </div>
    </div>
  </div>

</section>
