
<div id="branding-section" class="pos-relative d-flex flex-column justify-content-end align-items-center" data-scroll-section>
  <div class="branding width-100 max-width-992 height-vh-md-100 d-flex flex-column flex-md-row justify-content-center align-items-center">
    
    <div class="branding__right width-100 height-100 p-rem-1 d-flex flex-column align-items-end justify-content-center z-index-1 pos-relative">
      <div class="width-100 d-flex flex-column" data-scroll data-scroll-speed="-3">
        <h1 class="branding__title mb-rem-1 font-32 font-md-58 spacing-px-1 font-family-nexa text-align-center text-align-md-right text-shadow-primary color-white" data-scroll data-scroll-class="branding__title--visible" data-scroll-repeat="true">SERGIY TKACHUK</h1>
        <h3 class="branding__subtitle color-accent-600 text-align-center text-align-md-right font-14 color-primary-500 text-transform-uppercase">massotherapy</h3>
      </div>
      <div class="branding__scroll pos-absolute bottom-0 d-none d-lg-flex">
        <app-scroll-down [isVisible]="isVisible" (scrollDown)="scrollDown.emit()"></app-scroll-down>
      </div>
    </div>
    
    <div class="branding__left width-100 height-100 py-rem-2 d-flex justify-content-center justify-content-md-start align-items-center z-index-1">
      <figure class="branding__image width-100 d-flex align-items-end pos-relative">
        <img class="width-100" src="/assets/img/png/profile.png" alt="Brand image">
        <figcaption class="branding__signature width-100 pos-absolute top-0 d-none d-sm-flex z-index-1">
          <app-brand-signature></app-brand-signature>
        </figcaption>
      </figure>
    </div>
    
    <figure data-scroll data-scroll-speed="-4" class="width-100 height-vh-100 position-fixed top-0 z-index-minus-1">
      <img src="/assets/img/png/main-bg-3.png" alt="Background image #1" class="width-lg-100">
    </figure>
    
  </div>
</div>
