
@import 'mixins/_all';

:host {
  width: 100%;
}

.branding {
  @include e('right') {
    background-color: rgba(125, 201, 189, .5);
  }
  @include e('left') {
    backdrop-filter: blur(10px);
    background-color: rgba(46, 49, 49, .5);
  }
  @include e('title') {
    opacity: 0;
    transition: opacity 1s;
    @include m('visible') {
      opacity: 1;
    }
  }
  @include e('subtitle') {
    font-family: 'Nexa';
    letter-spacing: 10px;
  }
  @include e('signature') {
    height: 100px;
  }
  @include e('image') {
    width: 50%;
    max-width: 300px;
    box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, .5);
  }
  @include e('scroll') {
    left: 50%;
    transform: translateX(-50%);
  }
}
