
<div class="bottom-panel width-100 d-flex pb-rem-1 pt-rem-2_5 px-rem-3 font-12">
  <div class="d-flex">
    <p class="cursor-default">&copy; Copyright</p>
  </div>
  <div class="d-flex flex-grow-1 justify-content-center">
    <ul class="d-flex align-space-between">
      <li *ngFor="let btn of socialButtons" [ngClass]="btn.name" class="social hover-scale transition-1 cursor-pointer mx-rem-0_5">
        <a [href]="btn.link" class="d-flex width-100 height-100"></a>
      </li>
    </ul>
  </div>
  <div class="d-flex">
    <app-title size="sm"></app-title>
  </div>
</div>
