
$blue-1: #9ECAFF;
$blue-2: #1f84ff;
$grey-1: #3C4447;
$grey-2: #4B4B4B;
$grey-3: #C3C3C3;
$grey-4: #353B3F;

@mixin article-bg {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin bg-title {
	position: absolute;
	font-size: 210px;
	font-weight: 800;
	text-transform: uppercase;
	color: $grey-1;
}

@mixin article-text {
	line-height: 150%;
	font-size: 16px;
	color: $grey-2;
	text-indent: 30px;
}

@media only screen and (min-width: 992px) {
	div.article__header {
		flex-direction: row;
	}
	div.article__right, div.article__left {
		width: 50%;
	}
	div.article__content {
		column-count: 3;
		column-width: 33%;
	}
	div.article__left {
		transform: translate(20px, -20px);
	}
	div.article {
		margin: 100px auto;
		border-radius: 4px;
	}
	figure.thumbnail {
		border-radius: 4px;
	}
}

.wrapper {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	background-color: $grey-4;
	&__bg-1 {
		@include bg-title;
		top: 0; left: 0;
	}
	&__bg-2 {
		@include bg-title;
		bottom: 0; right: 0;
	}
}

.article {
	max-width: 992px;
	margin: 100px auto 0;
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: 10px 10px 93px 0px rgba(0,0,0,.75);
	z-index: 1;
	@include article-bg;
	&__header {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		position: relative;
	}
	&__right {
		width: 100%;
		padding: 30px 20px 30px 40px;
	}
	&__title {
		font-size: 42px;
		color: $grey-2;
	}
	&__intro {
		padding: 10px;
		border-top: 2px solid #C3C3C3;
		text-align: justify;
		@include article-text;
	}
	&__content {
		width: 100%;
		padding: 30px 50px 50px;
		column-count: 2;
		column-width: 50%;
		@include article-text;
	}
}

.thumbnail {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	&__img {
		position: absolute; left: 50%; top: 50%;
		width: 105%;
		height: auto;
		transform: translate(-50%, -50%);
	}
}

.info {
	width: 100%;
	display: flex;
	padding: 0 40px;
}

.date {
	display: flex;
	flex-direction: column;
	& > * {
		color: $blue-1;
		line-height: 100%;
	}
	&__day {
		font-size: 96px;
		text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
	}
	&__month {
		font-size: 32px;
		text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
	}
}

.control {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-end;
	li {
		width: 40px;
		height: 40px;
		margin-left: 30px;
		position: relative;
	}
	a {
		height: 100%;
		width: 100%;
		display: flex;
	}
	&__eye {
		background-image: url('../icons/eye.svg');
	}
	&__heart {
		background-image: url('../icons/heart.svg');
		cursor: pointer;
		&:hover { opacity: .5; }
	}
	&__link {
		background-image: url('../icons/link.svg');
		cursor: pointer;
		&:hover { opacity: .5; }
	}
	&__count {
		position: absolute; bottom: -10px; right: -7px;
		width: 20px;
		height: 20px;
		border: 1px solid $blue-2;
		font-size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		border-radius: 50%;
		color: $blue-2;
		font-style: normal;
	}
}

.author {
	height: 30px;
	width: 50%;
	margin: 30px 0 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  border-radius: 20px;
	background-color: $blue-1;
	&__img {
		height: 20px;
		width: 20px;
		margin-right: 10px;
		border-radius: 50%;
	}
	&__name {
		text-align: right;
		font-size: 0.8rem;
		color: white;
	}
}
