<section class="wrapper width-100 d-flex flex-column align-items-center">
  
  <app-header shrinked="true"></app-header>
  
  <div class="content">
    
    <aside class="content__left">
      <figure class="avatar box-shadow-2">
        <img class="height-100" src="/assets/img/jpg/mock-avatar.png" alt="Avatar">
      </figure>
      <ul class="width-100 mt-rem-2">
        <li *ngFor="let item of profileSections | keyvalue">
          <app-button-secondary (click)="onMenuButtonClick(item.value)" [title]="item.value | translate" fullWidth="true" class="mb-rem-1"></app-button-secondary>
        </li>
      </ul>
    </aside>
    
    <div [ngSwitch]="currentSection" class="content__right">
      <h4 class="mb-rem-2 font-36 spacing-px-1 font-family-nexa text-shadow-primary color-accent-500">{{ currentSection | translate }}</h4>
      <ng-container *ngSwitchCase="profileSections.bookings">
        <ul>
          <li *ngFor="let pair of dateTimePairs"><app-date-time-card [pair]="pair"></app-date-time-card></li>
        </ul>
        <app-button-secondary [title]="'user.button.more' | translate" class="mt-rem-2 d-flex justify-content-start"></app-button-secondary>
      </ng-container>
      <ng-container *ngSwitchCase="profileSections.profile">
        <div class="img-loader-wrap">
          <app-img-loader></app-img-loader>
        </div>
        <app-profile-form (buttonClick)="onButtonClick($event)" title="Profile" [initValue]="initValue" [disabled]="formDisabled" class="width-50">
          <app-button-secondary [title]="formDisabled ? 'Edit' : 'Save'" class="mt-rem-2"></app-button-secondary>
        </app-profile-form>
      </ng-container>
    </div>
  </div>
  
  <app-footer></app-footer>
  
</section>
