
@mixin bg-title {
	position: absolute;
	font-size: 210px;
	font-weight: 800;
	text-transform: uppercase;
	color: #3C4447;
}

.wrapper {
	height: 100vh;
	width: 100%;
	padding: 0 20px;
	position: relative;
	overflow: hidden;
	background-color: #353B3F;
	&__bg-1 {
		@include bg-title;
		padding-bottom: 20px;
		top: 0; left: 0;
	}
	&__bg-2 {
		@include bg-title;
		padding-top: 20px;
		bottom: 0; right: 0;
	}
}

.scroll-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article {
	width: 992px;
	display: flex;
	flex-direction: column;
	@media only screen and (min-width: 992px) {
		flex-direction: row;
	}
	position: relative;
	background-color : #FFF;
	box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	&__left {
		padding: 30px 0 80px 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
	}
	&__right {
		width: auto;
		flex-grow: 1;
		padding: 30px 20px;
	}
	&__title {
		font-size: 26px;
		font-size: 24px;
		color: #4B4B4B;
	}
	&__intro {
		padding: 10px 0;
		line-height: 150%;
		font-size: 15px;
		border-top: 2px solid #C3C3C3;
		text-align: justify;
		color : #4B4B4B;
		text-indent: 30px;
	}
}

.thumbnail {
	width: 500px;
	height: 300px;
	position: relative;
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	overflow: hidden;
	@media only screen and (min-width: 992px) {
		transform: translateY(-60px);
	}
	&__img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: auto;
		width: 100%;
		transform: translate(-50%, -50%);
	}
}

.author {
	height: 30px;
	width: 50%;
	margin: 30px 0 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  border-radius: 20px;
	background-color: #9ECAFF;
	&__img {
		margin-right: 10px;
		height: 20px;
		width: 20px;
		border-radius: 50%;
	}
	&__name {
		text-align: right;
		font-size: 0.8rem;
		color: white;
	}
}

.date {
	position: absolute; bottom: 15px;
	display: flex;
	flex-direction: column;
	& > * {
		color: #C3C3C3;
		line-height: 100%;
	}
	&__day {
		font-size: 96px;
	}
	&__month {
		font-size: 32px;
	}
}

/* Those futur buttons */
ul {
  margin-left : 250px
}

li {
	display: inline;
	list-style: none;
	padding-right: 40px;
  color : #7B7B7B;
}

/* Floating action button */
.fab {
	position : absolute;
	right : 50px;
	bottom : -40px;
	box-sizing: border-box;
	padding-top: 18px;
	background-color : #1875D0;
	width : 80px;
	height : 80px;
	color : white;
	text-align : center;
	border-radius : 50%;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
}
