<section class="py-rem-2">
  
  <app-profile-form title="{{'auth.register' | translate}}" buttonTitle="{{'auth.register' | translate}}" (submit)="onSubmit($event)"></app-profile-form>
  
  <div class="width-100 px-rem-1 d-flex justify-content-center">
    <p class="font-14">
      <span>{{'auth.already-registered' | translate}}?</span>
      <a routerLink="/auth/login" class="ml-rem-0_5 color-accent-500 hover-opacity text-decoration-underline">{{ "auth.go-to-login" | translate }}</a>
    </p>
  </div>
  
</section>
