:host {
  display: block;
}

::ng-deep {
  .uploader-wrapper {
    width: 100vw;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
  }
  .file-drop-wrapper {
    width: auto !important;
    padding-top: 0 !important;
  }
}

