
@import 'mixins/bem';

.wrapper {
  background-color: rgba(156, 161, 180, 0.8);
  background: url('/assets/img/png/contactus-bg.png');
}

.contactus-form {
  height: calc(100% + 3rem);
  transform: translateY(-3rem);
  box-shadow: 0px 3px 9px 3px rgb(0 0 0 / 50%);
  background-color: rgba(125, 201, 189, 0.9);
  z-index: 1;
}

.contactus-header {
  color: ivory;
}

.sidebar {
  box-shadow: 0px 3px 9px 3px rgb(0 0 0 / 50%);
  @include e('left') {
    border-radius: 10px 0 0 10px;
    background-color: red;
  }
  @include e('right') {
    border-radius: 0 10px 10px 0;
  }
}
