
<section class="container-fluid d-flex justify-content-center height-vh-50 bg-white width-100">

  <div class="row no-gutters height-100 width-100 max-width-992">

    <div class="col-3 py-rem-4" style="background-color: red;">
      <div class="bg-white width-100 height-100"></div>
    </div>
    <div class="col-6" style="background-color: lightgray;">
      <div class="width-100 height-100 p-rem-3">
        <h5 class="mb-rem-2">CONTACT US</h5>
        <form [formGroup]="form" class="d-flex flex-column">
          <app-input [formControl]="form.get('name')" controlName="name" label="User name" placeholder="Name placeholder"></app-input>
          <app-input [formControl]="form.get('email')" controlName="email" label="User email" placeholder="Email placeholder"></app-input>
          <app-input [formControl]="form.get('msg')" controlName="msg" label="User msg" placeholder="Msg placeholder" type="textarea"></app-input>
        </form>
      </div>
    </div>
    <div class="col-3 py-rem-4" style="background-color: green;">
      <div class="bg-white width-100 height-100"></div>
    </div>

  </div>

</section>
