
<section class="container-fluid d-flex justify-content-center height-vh-75 width-100">

  <div class="row no-gutters height-100 width-100 max-width-992">

    <div class="col-3 py-rem-4">
      <div class="bg-white width-100 height-100"></div>
    </div>
    <div class="col-6 pos-relative height-100">
      <div class="contactus-form width-100 height-100 p-rem-3 b-radius-4 pos-absolute">
        <div class="contactus-header mb-rem-1 d-flex flex-column justify-content-center">
          <h4 class="font-26 text-align-center">CONTACT US</h4>
          <p class="font-14 mt-rem-0_5 text-align-center">We would love to help</p>
        </div>
        <form [formGroup]="form" class="d-flex flex-column">
          <app-input [formControl]="form.get('name')" controlName="name" label="User name" placeholder="Name placeholder"></app-input>
          <app-input [formControl]="form.get('email')" controlName="email" label="User email" placeholder="Email placeholder"></app-input>
          <app-input [formControl]="form.get('msg')" controlName="msg" label="User msg" placeholder="Msg placeholder" type="textarea"></app-input>
        </form>
      </div>
    </div>
    <div class="col-3 py-rem-4">
      <div class="bg-white width-100 height-100"></div>
    </div>

  </div>

</section>
