
@import 'mixins/_all';

.section-bg {
  background: url('/assets/img/png/contactus-bg.png');
  @include background-image-center;
}

.shift-top {
  transform: translateY(-10px);
}

.contactus-form {
  height: calc(100% + 2rem);
  transform: translateY(-2rem);
  box-shadow: 0px 3px 9px 3px rgb(0 0 0 / 50%);
  background-color: rgba(125, 201, 189, 0.9);
  z-index: 1;
}

.contactus-header {
  color: ivory;
}

.sidebar {
  box-shadow: 0px 3px 9px 3px rgb(0 0 0 / 50%);
  background: rgba(255, 255, 255, .5);
  @include e('left') {
    border-radius: 10px 0 0 10px;
  }
  @include e('right') {
    border-radius: 0 10px 10px 0;
  }
}

.contact-icon {
  width: 35px;
  height: 35px;
  display: flex;
  @include background-image-center;
  @include e('phone') {
    background-image: url('/assets/img/svg/phone.svg');
  }
  @include e('location') {
    background-image: url('/assets/img/svg/location.svg');
  }
  @include e('email') {
    background-image: url('/assets/img/svg/email.svg');
  }
}
