
@import 'mixins/_all';
@import '_core-sizes';

:host {
  width: 100%;
  position: fixed;
}

.menu {
  height: $header-full-heigth;
  background-color: rgba(46, 49, 49, .2);
  @include m('is-shrinked') {
    height: $header-shrinked-height;
    background-color: rgba(36, 36, 36, 0.7);
  }
}
