
:host {
  display: flex;
  align-items: center;
}

.sm {
  min-width: 35px;
  height: 25px;
  font-size: 12px;
}

.md {
  min-width: 50px;
  height: 40px;
  font-size: 14px;
}

.lg {
  min-width: 100px;
  height: 45px;
  font-size: 16px;
}

.xl {
  min-width: 200px;
  height: 60px;
  font-size: 20px;
}
