
<section class="blog pb-rem-2 d-flex flex-column justify-content-start align-items-center height-vh-100 container-fluid pos-relative">
  
  <header class="width-100 pos-sticky top-0 z-index-2">
    <app-header shrinked="true"></app-header>
  </header>
  
  <app-article-card *ngFor="let article of MOCK_ARTICLES; let isLast = last; let isFirst = first;" [config]="article" [ngClass]="{'pb-rem-2': isLast, 'pt-rem-2': isFirst}" class="py-rem-1"></app-article-card>
  
  <div class="blog__bg width-100 height-100 pos-fixed top-0 z-index-minus-1"></div>

</section>
