
@import 'mixins/_all';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactus {
  @include e('form') {
    width: 40%;
    height: calc(100% + 2rem);
    box-shadow: 0px 3px 9px 3px rgb(0 0 0 / 50%);
    background-color: rgba(125, 201, 189, 0.9);
  }
  @include e('sidebar') {
    width: 30%;
    box-shadow: 0px 3px 9px 3px rgb(0 0 0 / 50%);
    background: rgba(255, 255, 255, .5);
    @include e('left') {
      border-radius: 10px 0 0 10px;
    }
    @include e('right') {
      border-radius: 0 10px 10px 0;
    }
  }
  @include e('icon') {
    width: 35px;
    height: 35px;
    display: flex;
    @include background-image-center;
    @include m('phone') {
      background-image: url('/assets/img/svg/phone.svg');
    }
    @include m('location') {
      background-image: url('/assets/img/svg/location.svg');
    }
    @include m('email') {
      background-image: url('/assets/img/svg/email.svg');
    }
    @include m('timetable') {
      background-image: url('/assets/img/svg/timetable.svg');
    }
  }
}
