
<div id="cert-section" class="py-rem-3 d-flex flex-column pos-relative overflow-hidden" data-scroll-section>
  
  <div id="cert-list" class="cert__list py-rem-2 mb-rem-2 width-100 d-flex justify-content-center z-index-1">
    <app-horizontal-menu class="max-width-992">
      <li horMenuItem class="cert__item px-rem-1" *ngFor="let cert of certificates; let idx = index;">
        <figure><img class="width-100 p-rem-1 box-shadow-4 b-radius-4" [src]="cert.src" alt="Certificate #{{ idx }}"></figure>
      </li>
    </app-horizontal-menu>
  </div>
  
  <div class="width-100 py-rem-1 d-flex flex-grow-1 justify-content-center border-x-2 border-color-secondary-500 z-index-1">
    <div class="width-100 max-width-992 d-flex justify-content-center justify-content-lg-start pos-relative">
      
      <div class="cert__slider height-100 px-rem-lg-2">
        <app-slider [slides]="slides"></app-slider>
      </div>
      
      <div class="cert__info pos-absolute right-0 px-rem-2 py-rem-1_5 b-radius-4 d-none d-lg-flex align-items-center justify-content-center flex-column" data-scroll data-scroll-speed="-1">
        <h3 class="mb-rem-0_5 text-shadow-primary color-secondary-500 font-30">Some seo text</h3>
        <p class="line-height-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque excepturi non maiores velit id temporibus? Quo inventore optio mollitia sed numquam itaque necessitatibus praesentium at, perferendis molestiae, repellat corporis.</p>
        <div class="mt-rem-2 d-flex justify-content-end">
          <app-button-secondary title="Read more" [filled]="true"></app-button-secondary>
        </div>
      </div>
      
    </div>
  </div>
  
  <figure class="width-100 height-100 pos-absolute top-0">
    <img src="/assets/img/png/cert-bg.jpeg" class="width-lg-100 height-100" alt="Background image #2">
  </figure>
  
</div>
