
:host {
  height: 100%;
  width: 100%;
}

.dialog {
  min-height: 30vh;
  padding: 20px;
  position: relative;
  background-color: white;
  border-radius: 4px;
  &__close {
    position: absolute; top: 0; right: 0;
    width: 25px; height: 25px;
    background: url('/assets/img/svg/x-button.svg') center no-repeat;
    transform: translate(50%, -50%) scale(1);
    transition: all .1s;
    cursor: pointer;
    &:hover {
      transform: translate(50%, -50%) scale(1.1);
    }
  }
}
