
$transition: .3s;

:host {
  width: 100%;
  position: relative;
}

.menu-container {
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.menu {
  display: flex;
  padding-bottom: 10px;
}

.ctrl {
  height: 100%;
  position: absolute; top: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  background-color: rgba(255, 255, 255, .3);
  z-index: 1;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, .6);
  }
  &--prev {
    left: 0;
    &:hover {
      button.ctrl__arrow { transform: translateX(-5px); }
    }
  }
  &--next {
    right: 0;
    &:hover {
      button.ctrl__arrow { transform: translateX(5px); }
    }
  }
  &__arrow {
    width: 40px;
    height: 40px;
    border: 0;
    font-size: 20px;
    color: #7564a8;
    background-color: transparent;
    transition: $transition;
    cursor: pointer;
  }
}

