
<section class="container-fluid">

  <div #parallaxContainer class="width-100 height-vh-100">

    <div class="parallax parallax__layer-1">
      <app-desktop-branding></app-desktop-branding>
    </div>

    <app-certificates></app-certificates>
    
    <div class="parallax parallax__layer-2">
      <app-brand-services [productCards]="productCards" [quotes]="quotes"></app-brand-services>
    </div>

    <app-contact-us></app-contact-us>

    <app-footer [socialButtons]="socialButtons" [footerItems]="footerItems"></app-footer>

  </div>

</section>

<div class="scroll-button pos-fixed bottom-0">
  <app-scroll-down [scrollTo]="parallaxContainer.clientHeight"></app-scroll-down>
</div>
