
<section>
  
  <app-header [isShrinked]="isBelowTreshold$ | async"></app-header>
  
  <div #scrollContainer data-scroll-container>
    
    <div id="branding-section" data-scroll-section class="pos-relative d-flex flex-column justify-content-end align-items-center">
      <div class="branding width-100 height-vh-100 max-width-992 d-flex justify-content-center align-items-center">
        
        <figure data-scroll data-scroll-speed="-4" class="width-100 height-vh-100 position-fixed top-0">
          <img src="/assets/img/png/main-bg-3.png" alt="Background image #1" class="width-lg-100">
        </figure>
        
        <div class="branding__right width-100 height-100 d-flex flex-column align-items-end justify-content-center z-index-1 pos-relative">
          <div data-scroll data-scroll-speed="-3">
            <h1 data-scroll data-scroll-class="branding__title--visible" data-scroll-repeat="true" class="branding__title text-align-right text-shadow-primary font-58 color-white m-rem-1 spacing-px-1">SERGIY TKACHUK</h1>
            <h3 class="branding__subtitle color-accent-600 text-align-right font-14 color-primary-500 text-transform-uppercase">massotherapy</h3>
          </div>
          <div class="branding__scroll pos-absolute bottom-0 d-none d-lg-flex">
            <app-scroll-down [isVisible]="!(isBelowTreshold$ | async)" (scrollDown)="onScrollDown()"></app-scroll-down>
          </div>
        </div>
        
        <div class="branding__left width-100 height-100 d-flex align-items-center z-index-1">
          <figure class="branding__image width-100 d-flex align-items-end pos-relative">
            <img class="width-100" src="/assets/img/png/profile.png" alt="Brand image">
            <figcaption class="branding__signature pos-absolute top-0 width-100 z-index-1">
              <app-brand-signature></app-brand-signature>
            </figcaption>
          </figure>
        </div>
        
      </div>
    </div>
    
    <div id="cert-section" data-scroll-section class="height-vh-100 py-rem-3 d-flex flex-column pos-relative overflow-hidden">
      
      <figure class="width-100 pos-absolute top-0">
        <img src="/assets/img/png/cert-bg.jpeg" class="width-lg-100" alt="Background image #2">
      </figure>
      
      <div id="cert-list" class="cert__list py-rem-2 mb-rem-2 width-100 d-flex justify-content-center z-index-1">
        <app-horizontal-menu class="max-width-992">
          <li horMenuItem class="cert__item px-rem-1" *ngFor="let cert of certificates; let idx = index;">
            <figure><img class="width-100 p-rem-1 box-shadow-4 b-radius-4" [src]="cert.src" alt="Certificate #{{ idx }}"></figure>
          </li>
        </app-horizontal-menu>
      </div>
      
      <div class="width-100 py-rem-1 d-flex flex-grow-1 justify-content-center border-x-2 border-color-secondary-500 z-index-1">
        <div class="width-100 max-width-992 d-flex justify-content-center justify-content-lg-start pos-relative">
          
          <div class="cert__slider height-100 px-rem-lg-2">
            <app-slider [slides]="slides"></app-slider>
          </div>
          
          <div class="cert__info pos-absolute right-0 px-rem-2 py-rem-1_5 b-radius-4 d-none d-lg-flex align-items-center justify-content-center flex-column" data-scroll data-scroll-speed="-1" data-scroll-class="cert__info--visible">
            <h3 class="mb-rem-0_5 text-shadow-primary color-secondary-500 font-30">Some seo text</h3>
            <p class="line-height-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque excepturi non maiores velit id temporibus? Quo inventore optio mollitia sed numquam itaque necessitatibus praesentium at, perferendis molestiae, repellat corporis.</p>
            <div class="mt-rem-2 d-flex justify-content-end">
              <app-button-secondary title="Read more" [filled]="true"></app-button-secondary>
            </div>
          </div>
          
        </div>
      </div>
    
      <!-- <div class="mt-rem-1 py-rem-1 border-x-2 d-flex flex-grow-1 justify-content-center border-color-secondary-500">
        <div class="row no-gutters max-width-992">
          <div class="col-12 col-md-7">
            <div class="width-100 height-100">
              <app-slider [slides]="slides"></app-slider>
            </div>
          </div>
          <div class="col-12 col-md-4 offset-md-1 py-rem-1">
            <div class="cert__info p-rem-2 b-radius-4 d-flex align-items-center justify-content-center flex-column" data-scroll data-scroll-speed="-1" data-scroll-class="cert__info--visible">
              <h3 class="width-100 mb-rem-0_5 text-shadow-primary color-secondary-500 font-30">Some seo text</h3>
              <p class="line-height-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque excepturi non maiores velit id temporibus? Quo inventore optio mollitia sed numquam itaque necessitatibus praesentium at, perferendis molestiae, repellat corporis.</p>
              <div class="width-100 pt-rem-2 d-flex justify-content-end">
                <app-button-secondary title="Read more" [filled]="true"></app-button-secondary>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
    </div>
    
    <div id="services-section" data-scroll-section class="services py-rem-lg-2 d-flex flex-column justify-content-center align-items-center pos-relative overflow-hidden">
      
      <div data-scroll data-scroll-speed="-4" class="width-100 height-100 d-none d-lg-flex pos-absolute top-0">
        <figure class="width-100">
          <img src="/assets/img/png/main-bg-1.png" class="width-lg-100" alt="Background image #2">
        </figure>
      </div>
      
      <div class="services__quotes-wrapper width-100 py-rem-1 pos-relative d-flex justify-content-center">
        <app-slider-quote [quotes]="quotes"></app-slider-quote>
      </div>
      
      <div class="width-100 max-width-992">
        <div data-scroll data-scroll-class="services__title--visible" data-scroll-repeat="true" data-scroll-target="#services-section" class="services__title width-100 font-24 b-radius-4 text-shadow-primary">
          <p class="width-25 font-22 font-family-nexa">We bring the best of our skills to meet specific needs</p>
          <div class="d-flex flex-column py-rem-0_75">
            <i *ngFor="let i of 3 | fill" data-scroll data-scroll-class="services__shevron--visible" data-scroll-repeat="true" data-scroll-target="#services-section" class="services__shevron"></i>
          </div>
          <p class="font-42 font-family-nexa spacing-px-1">OUR SERVICES</p>
        </div>
      </div>
    
      <div class="d-flex flex-grow-1 align-items-center justify-content-center width-100">
        <div class="row width-100 max-width-992">
          <div data-scroll data-scroll-class="services__card--visible" data-scroll-repeat="true" data-scroll-target="#services-section" *ngFor="let card of productCards" class="services__card col-3 px-rem-1">
            <app-product-card [card]="card"></app-product-card>
          </div>
        </div>
      </div>
      
    </div>
    
    <footer class="footer" data-scroll-section>
      <div class="footer_container">
        <div class="newsletter" data-scroll data-scroll-speed="5">
            <h1>Subscribe To Our Newsletter</h1>
            <div class="newsletter_form">
                <input type="email" placeholder="enter your email here">
                <button class="">Subscribe</button>
            </div>
        </div>
        <div class="footer_content_container">
            <div class="footer_content">
                <div class="contact">
                    <h1>Melaku Tour</h1>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <p class="txt_md_white">melakuntour@gmail.com</p>
                    <p class="txt_md_white">(+62) 81234567890</p>
                </div>
                <ul class="footer_links">
                    <li><h3 class="txt_lg_white">Company</h3></li>
                    <li><a href="#" class="nav__link">Career</a></li>
                    <li><a href="#" class="nav__link">About Us</a></li>
                    <li><a href="#" class="nav__link">Blog</a></li>
                    <li><a href="#" class="nav__link">Press Info</a></li>
                    <li><a href="#" class="nav__link">Features</a></li>
                </ul>
                <ul class="footer_links">
                    <li><h3 class="txt_lg_white">Travellers</h3></li>
                    <li><a href="#" class="nav__link">Why Travellers</a></li>
                    <li><a href="#" class="nav__link">How it works</a></li>
                    <li><a href="#" class="nav__link">Why Choose Us</a></li>
                    <li><a href="#" class="nav__link">Customer Stories</a></li>
                    <li><a href="#" class="nav__link">Review</a></li>
                </ul>
                <ul class="footer_links">
                    <li><h3 class="txt_lg_white">Terms</h3></li>
                    <li><a href="#" class="nav__link">Privacy Policy</a></li>
                    <li><a href="#" class="nav__link">Terms & Condition</a></li>
                    <li><a href="#" class="nav__link">Copyright Policy</a></li>
                    <li><a href="#" class="nav__link">Security</a></li>
                    <li><a href="#" class="nav__link">Fees & Charge</a></li>
                </ul>
            </div>
        </div>
      </div>
    </footer>
    
  </div>
  
</section>
