
@import 'mixins/_all';

.parallax {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  @include background-image-center;
  @include e('layer-1') {
    background-image: url('/assets/img/png/main-bg-3.png');
  }
  @include e('layer-2') {
    top: 100vh;
    height: 110vh;
    background-image: url('/assets/img/png/main-bg-2.png');
  }
}

.scroll-button {
  left: 50%;
  transform: translateX(-50%);
}
