<div class="product">

  <header class="product-header">
    <h2 class="product-header__title">{{ 'booking.reserve.type-sport.title' | translate }}</h2>
    <h3 class="product-header__subtitle">{{ 'booking.reserve.type-sport.subtitle' | translate }}</h3>
    <p class="product-header__text">{{ 'booking.reserve.type-sport.desc' | translate }}</p>
  </header>

  <div class="product-price">
    <h3 class="product-price__title">{{ 'booking.reserve.service-cost' | translate }}</h3>
    <p class="product-price__amount">
      <span class="product-price__number">$29</span>{{ 'booking.reserve.per-hour' | translate }}
    </p>
    <p class="product-price__text">{{ 'booking.reserve.first-time' | translate }}</p>
    <app-button-secondary title="{{ 'booking.reserve.book' | translate }}" [filled]="true" class="product-price__button"></app-button-secondary>
  </div>

  <div class="product-why-us">
    <h3 class="product-why-us__title">{{ 'booking.reserve.why-us' | translate }}</h3>
    <ul class="product-why-us__list">
      <li *ngFor="let item of advantages">{{ item | translate }}</li>
    </ul>
  </div>

</div>
