<app-header shrinked="true" class="profile-header"></app-header>

<section class="profile">
  <div class="profile__scroll-wrap">

    <header class="profile-content">

      <div class="width-100 max-width-992 d-flex flex-column align-items-center flex-lg-row">

        <figure class="profile-content__avatar">
          <img src="/assets/img/png/mock-avatar.png" alt="Profile Image" class="height-100">
        </figure>

        <div *ngIf="(userProfile$ | async) as userProfile" class="px-rem-2 d-flex flex-wrap flex-grow-1">
          <p class="width-50 d-flex align-items-center">
            <span class="mr-rem-1">Name:</span>
            <span>{{userProfile.firstName}} {{userProfile.lastName}}</span>
          </p>
          <p class="width-50 d-flex align-items-center">
            <span class="mr-rem-1">Birthday:</span>
            <span>{{userProfile.birthDate}}</span>
          </p>
          <p class="width-50 d-flex align-items-center">
            <span class="mr-rem-1">Email:</span>
            <span>{{userProfile.email}}</span>
          </p>
          <p class="width-50 d-flex align-items-center">
            <span class="mr-rem-1">Phone:</span>
            <span>{{userProfile.phoneNumber}}</span>
          </p>
        </div>

      </div>

    </header>

    <div class="profile__upcoming">
      <h3>{{'user.booking-upcomming' | translate}}</h3>
      
    </div>
  
    <div class="profile__content">
      <h3>{{'user.booking-history' | translate}}</h3>
      
    </div>

  </div>
</section>

<ng-template #noItems>
  <h2 class="profile__no-items">
    <p>{{ 'core.no-data' | translate }}</p>
  </h2>
</ng-template>
