<section class="profile">

  <header class="profile__header">
    <figure class="profile__avatar">
      <img src="/assets/img/png/mock-avatar.png" alt="User Avatar">
    </figure>
    <div *ngIf="(userProfile$ | async) as userProfile">
      <p>{{userProfile.firstName}}</p>
      <p>{{userProfile.lastName}}</p>
      <p>{{userProfile.birthDate}}</p>
      <p>{{userProfile.email}}</p>
      <p>{{userProfile.phoneNumber}}</p>
    </div>
  </header>

  <div class="profile__upcoming">
    <h3>{{'user.upcomming' | translate}}</h3>
    
  </div>

  <div class="profile__content">
    <h3>{{'user.booking-history' | translate}}</h3>
    
  </div>

</section>

<ng-template #noItems>
  <h2 class="profile__no-items">
    <p>{{ 'core.no-data' | translate }}</p>
  </h2>
</ng-template>
