@import 'mixins/_all';
@import '_core-colors';

.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  &::before {
    @include bg();
    background-image: url('/assets/img/png/abstract-grey-bg.png');
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    content: '';
  }
  &__title {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 50px;
    text-align: center;
    color: $white;
    background-color: $primary-900;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
    @include lg {
      padding: 2rem 1rem;
    }
  }
  &__scroll-wrap {
    position: absolute; top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.user-data {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(145, 209, 199, 0.8);
  @include sm {
    flex-direction: row;
  }
  @include lg {
    border-radius: 4px;
  }
  &__avatar {
    width: 200px;
    margin: 0 0 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    img {
      border: 1px solid grey;
      box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 50%);
      display: flex;
      border-radius: 4px;
    }
    @include sm {
      margin: 0 16px 0 0;
    }
    @include lg {
      width: 150px;
    }
  }
  &__edit-button {
    @include bg();
    background-image: url('/assets/img/svg/edit.svg');
    position: absolute; bottom: 8px; right: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}

.data-item {
  width: 100%;
  padding: 0 8px 4px;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: $white;
  @include lg {
    width: 50%;
  }
  &__title {
    padding: 4px 0;
    margin-right: 8px;
    font-size: 20px;
    font-weight: 600;
    color: $primary-900;
  }
  &__input {
    padding: 4px 0;
    border: 0;
    font-size: 16px;
    display: flex;
    flex-grow: 1;
    color: $white;
    border-bottom: 1px solid $white;
    caret-color: $white;
    background-color: transparent;
    &--has-error {
      border-bottom: 1px solid $warn-500;
    }
  }
}

.booked {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.app-row {
  width: 100%;
  transition: .3s;
  border: 0;
  color: $grey-800;
  background-color: $primary-100;
  &:hover {
    color: $white;
    background-color: $primary-300;
  }
  &--even {
    background-color: $primary-200;
  }
}
