@import 'mixins/_all';
@import '_core-colors';

.gift {
  width: 290px;
  height: 160px;
  display: flex;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  border-radius: 10px;
  overflow: hidden;
  background: #fafafa;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: .3s;
  background-image: url('/assets/img/png/gift-bg.png');
  @include bg();
  cursor: pointer;
  &:hover, &--selected {
    transform: scale(1.05);
  }
  &--selected {
    .gift__confirm-overlay {
      opacity: 1;
    }
  }
  &__img {
    width: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
    background-image: url('/assets/img/png/gift.png');
    @include bg(left);
    @include sm {
      width: 140px;
    }
  }
  &__confirm-overlay {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42,178,175,.5);
    transition: .3s;
  }
  @include sm {
    width: 415px;
    height: 230px;
  }
}

.gift-content {
  padding: 20px 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  color: #3d3d3d;
  &__amount {
    font-size: 50px;
    @include sm {
      font-size: 70px;
    }
  }
  &__code {
    margin-top: 12px;
    font-size: 10px;
    padding: 8px 10px;
    display: inline-block;
    color: black;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background: white;
    @include sm {
      margin-top: 20px;
      font-size: 20px;
    }
  }
  &__desc {
    margin-top: 8px;
    font-size: 8px;
    text-align: end;
    @include sm {
      margin-top: 10px;
      font-size: 10px;
    }
  }
  @include sm {
    padding: 30px 20px;
  }
}
