@import 'mixins/_all';
@import '_core-colors';

$cyan: #2BB1AF;
$cyan-light: #61C1BF;
$bright-yellow: #C0DF33;
$light-gray: #e5eff5;

.select-date {
  width: 80vw;
  max-width: 600px;
  height: 80vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  overflow: auto;
  &__content {
    position: absolute; left: 0;
    width: 100%;
    min-height: 100%;
    padding: 2rem 2rem 0;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 32px;
    color: $primary-500;
    margin-bottom: 16px;
    letter-spacing: -0.3px;
    align-items: center;
  }
  &__subtitle {
    font-size: 1.13rem;
    color: $bright-yellow;
    margin-bottom: 1rem;
    letter-spacing: -0.3px;
  }
}

.dates {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $cyan-light;
  &__title {
    padding: 1rem 1rem 0;
    font-size: 18px;
    color: $light-gray;
  }
  &__month {
    padding: 1rem 1rem 0;
    font-size: 32px;
    color: #fff;
  }
  &__slots-container {
    padding: 0.5rem;
    display: inline-flex;
    flex-wrap: wrap;
  }
  &__slot {
    margin: 0.5rem;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    color: #fff;
    background-color: $cyan;
    transition: .3s;
    cursor: pointer;
    &--active {
      background-color: $bright-yellow;
    }
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 2px 5px 0px grey;
    }
  }
  @include sm {
    width: 75%;
  }
}

.times {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $cyan;
  cursor: pointer;
  &__title {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 18px;
    color: $light-gray;
    text-align: center;
  }
  &__slots-container {
    display: flex;
    flex-direction: column;
  }
  &__slot {
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $primary-500;
    transition: .3s;
    cursor: pointer;
    &--active {
      background-color: $bright-yellow;
    }
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 2px 5px 0px grey;
    }
  }
  &__no-items {
    padding: 0.5rem;
    color: $primary-500;
  }
  @include sm {
    width: 40%;
    max-width: 170px;
  }
}

.selected-slots {
  width: 100%;
  max-height: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: .7s;
  &--has-items {
    max-height: 1000px;
    opacity: 1;
  }
  &__title {
    margin-bottom: 0.5rem;
    color: #98a6bd;
  }
  &__item {
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: $cyan;
    border-radius: 4px;
    color: #fff;
    position: relative;
    &::before {
      position: absolute; top: -5px; right: -5px;
      width: 20px;
      height: 20px;
      display: flex;
      background: url('/assets/img/svg/x-button-filled.svg') center no-repeat;
      @include bg();
      cursor: pointer;
      content: '';
    }
  }
}
