<app-dialog-content>
  <div class="d-flex flex-column bg-white b-radius-4">

    <div class="select-date">

      <div class="select-date__content">
  
        <h2 class="select-date__title">{{ 'booking.select-date.title' | translate }}</h2>
        <h3 class="select-date__subtitle">{{ 'booking.select-date.subtitle' | translate }}</h3>

        <div class="selected-slots" [ngClass]="{'selected-slots--has-items': hasSelectedItems}">
          <h5 class="selected-slots__title">Dates selected</h5>
          <ul class="width-100 d-flex flex-wrap">
            <ng-container *ngFor="let date of selectedSlots.keys()">
              <li *ngFor="let item of selectedSlots.get(date)" class="selected-slots__item">
                <p class="mb-px-5">
                  <span class="font-24">{{ date.uiName }}</span>
                </p>
                <div>
                  <p>
                    <span>{{ item.start.hour }}</span>
                    <span class="mx-px-5">:</span>
                    <span>{{ item.start.minute }}</span>
                  </p>
                  <p>
                    <span>{{ item.end.hour }}</span>
                    <span class="mx-px-5">:</span>
                    <span>{{ item.end.minute }}</span>
                  </p>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
  
        <div class="width-100 d-flex flex-column-reverse flex-sm-row flex-grow-1 b-radius-4 overflow-hidden">
  
          <div class="dates">
            <h5 class="dates__title">Dates</h5>
            <div *ngFor="let item of bookingData" class="d-flex flex-column">
              <h6 class="dates__month">{{ item.month }}</h6>
              <ul class="dates__slots-container">
                <li (click)="onSelectDate(date)" *ngFor="let date of item.dates" class="dates__slot" [ngClass]="{'dates__slot--has-focus': date === currentDate, 'dates__slot--active': selectedSlots.has(date)}">{{ date.day }}</li>
              </ul>
            </div>
          </div>
  
          <div class="times">
            <h5 class="times__title">Timeslots</h5>
            <ul *ngIf="currentDate" class="times__slots-container">
              <li (click)="onSelectTime(time)" *ngFor="let time of currentDate.time" class="times__slot" [ngClass]="{'times__slot--active': selectedSlots.get(currentDate)?.includes(time)}">
                <p>
                  <span>{{ time.start.hour }}</span>
                  <span class="mx-rem-0_5">:</span>
                  <span>{{ time.start.minute }}</span>
                </p>
                <p>
                  <span>{{ time.end.hour }}</span>
                  <span class="mx-rem-0_5">:</span>
                  <span>{{ time.end.minute }}</span>
                </p>
              </li>
            </ul>
            <p *ngIf="false" class="times__no-items">Select date</p>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <div class="py-rem-1">
      <app-button-secondary title="{{ 'booking.select-date.confirm' | translate }}" [filled]="true"></app-button-secondary>
    </div>

  </div>
</app-dialog-content>
