:host {
  display: flex;
  justify-content: center;
}

.button-secondary {
  border: 2px solid #8ac343;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: .3s;
  color: #8ac343;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 0px grey;
  }
  &.filled {
    color: #fff;
    background-color: #8ac343;
  }
  &.fullWidth {
    width: 100%;
  }
  &.link {
    border: 0;
  }
}
