
@import 'mixins/_all';
@import '../core-colors';

.color-white { color: $white; }
.color-black { color: $black; }
.color-transparent { color: $transparent; }

.color-grey-50 { color: $grey-50; }
.color-grey-100 { color: $grey-100; }
.color-grey-200 { color: $grey-200; }
.color-grey-300 { color: $grey-300; }
.color-grey-400 { color: $grey-400; }
.color-grey-500 { color: $grey-500; }
.color-grey-600 { color: $grey-600; }
.color-grey-700 { color: $grey-700; }
.color-grey-800 { color: $grey-800; }
.color-grey-900 { color: $grey-900; }

.color-primary-50 { color: $primary-50; }
.color-primary-100 { color: $primary-100; }
.color-primary-200 { color: $primary-200; }
.color-primary-300 { color: $primary-300; }
.color-primary-400 { color: $primary-400; }
.color-primary-500 { color: $primary-500; }
.color-primary-600 { color: $primary-600; }
.color-primary-700 { color: $primary-700; }
.color-primary-800 { color: $primary-800; }
.color-primary-900 { color: $primary-900; }

.color-secondary-50 { color: $secondary-50; }
.color-secondary-100 { color: $secondary-100; }
.color-secondary-200 { color: $secondary-200; }
.color-secondary-300 { color: $secondary-300; }
.color-secondary-400 { color: $secondary-400; }
.color-secondary-500 { color: $secondary-500; }
.color-secondary-600 { color: $secondary-600; }
.color-secondary-700 { color: $secondary-700; }
.color-secondary-800 { color: $secondary-800; }
.color-secondary-900 { color: $secondary-900; }

.color-accent-50 { color: $accent-50; }
.color-accent-100 { color: $accent-100; }
.color-accent-200 { color: $accent-200; }
.color-accent-300 { color: $accent-300; }
.color-accent-400 { color: $accent-400; }
.color-accent-500 { color: $accent-500; }
.color-accent-600 { color: $accent-600; }
.color-accent-700 { color: $accent-700; }
.color-accent-800 { color: $accent-800; }
.color-accent-900 { color: $accent-900; }

.color-warn-50 { color: $warn-50; }
.color-warn-100 { color: $warn-100; }
.color-warn-200 { color: $warn-200; }
.color-warn-300 { color: $warn-300; }
.color-warn-400 { color: $warn-400; }
.color-warn-500 { color: $warn-500; }
.color-warn-600 { color: $warn-600; }
.color-warn-700 { color: $warn-700; }
.color-warn-800 { color: $warn-800; }
.color-warn-900 { color: $warn-900; }

@include sm { }

@include md { }

@include lg { }

@include xl { }
