
@import 'mixins/bem';

.font-family-roboto { font-family: 'Roboto'; }

.font-family-rubik { font-family: 'Rubik'; }

.font-family-nexa { font-family: 'Nexa'; }

@include sm { }

@include md { }

@include lg { }

@include xl { }
