
@import 'mixins/bem';

.font-family-roboto { font-family: 'Roboto', Arial; }

.font-family-rubik { font-family: 'Rubik', Arial; }

.font-family-nexa { font-family: 'Nexa', Arial; }

@include sm { }

@include md { }

@include lg { }

@include xl { }
