
@import 'mixins/_all';

.height-auto { height: auto; }
.height-50 { height: 50%; }
.height-100 { height: 100%; }
.height-vh-50 { height: 50vh; }
.height-vh-75 { height: 75vh; }
.height-vh-100 { height: 100vh; }
.min-height-vh-100 { min-height: 100vh; }

.width-auto { width: auto; }
.width-25 { width: 25%; }
.width-50 { width: 50%; }
.width-100 { width: 100%; }
.max-width-992 { max-width: 992px; }
.max-width-1200 { max-width: 1200px; }

@include sm { }

@include md { }

@include lg {
  .width-lg-100 { width: 100% !important; }
}

@include xl { }