
@import 'mixins/_all';

.text-transform-uppercase { text-transform: uppercase; }

.text-align-center { text-align: center; }

.text-decoration-underline { text-decoration: underline; };

.text-shadow-primary { text-shadow: 1px 1px 2px rgb(0 0 0 / 60%); }

@include sm { }

@include md { }

@include lg { }

@include xl { }
