
<section>
  
  <form [formGroup]="form" markTouched (ngSubmit)="onSubmit()" class="py-rem-2 d-flex flex-column">
    
    <h3 class="font-32 font-weight-800 mb-rem-1 spacing-px-1 color-grey-700">Forgot Password</h3>
    <app-input [formControl]="form.get('password')" color="primary" controlName="password" label="Password" placeholder="Please enter your password" type="password"></app-input>
    <app-input [formControl]="form.get('confirmPassword')" color="primary" controlName="confirmPassword" label="Confirm Password" placeholder="Please confirm your password" type="password"></app-input>
    
    <app-button-primary class="mt-rem-1 mb-rem-2" title="Reset Password" [invalid]="!form.valid"></app-button-primary>
    
  </form>
  
</section>
