@import 'mixins/bem';
@import '_core-colors';

:host {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.newsletter {
  box-shadow: -2px -5px 10px 8px rgba(37,52,57,.2);
  background-color: rgba(125,201,189,.7);
  @include e('promo-link') {
    width: 18px;
    height: 18px;
    background: center no-repeat url('/assets/img/svg/link.svg');
  }
}
