<div class="newsletter width-75 py-rem-1 px-rem-2 d-flex flex-wrap flex-lg-nowrap justify-content-between bg-white b-radius-10 z-index-1" data-scroll-section>
  
  <div class="width-100 width-lg-50 pt-rem-1 px-rem-1 d-flex flex-column align-items-start">
    <h3 class="width-100 font-30 font-weight-bold font-family-nexa text-shadow-primary spacing-px-1 color-white">{{ 'newsletter.header' | translate }}</h3>
    <div class="pt-rem-0_5 d-flex flex-column flex-lg-row justify-content-center align-items-start align-items-lg-center">
      <p class="mr-px-5 color-white">{{ 'newsletter.get' | translate }}</p>
      <a class="font-16 d-flex justify-content-start align-items-center color-accent-600 hover-opacity transition-1" href="#">
        <span>{{ 'newsletter.bonus' | translate }}</span>
        <i class="d-none d-md-flex newsletter__promo-link mx-rem-0_5"></i>
      </a>
    </div>
  </div>
  
  <form [formGroup]="newsletterForm" markTouched (ngSubmit)="onSubmit()" class="width-100 widht-md-50 px-rem-1 d-flex flex-column justify-content-center">
    <app-input [formControl]="newsletterForm.get('newsletter')" controlName="newsletter" label="Email" color="secondary" placeholder="Email placeholder"></app-input>
    <app-button-primary [title]="'newsletter.subscribe' | translate" [invalid]="!newsletterForm.valid"></app-button-primary>
  </form>
  
</div>
