
<div class="footer width-100 d-flex justify-content-center">
  <div class="width-100 max-width-992 pos-relative d-flex flex-wrap justify-content-between">
    <div class="width-100 width-lg-25 d-flex flex-column">
      <app-logo size="sm"></app-logo>
      <h2 class="font-22 font-weight-bold font-family-nexa">TKACHUK MASSOTHERRAPY</h2>
    </div>
    <ul class="width-25 d-flex flex-column">
      <li><a class="color-white" href="#">Discounts & promotions</a></li>
      <li><a class="color-white" href="#">Loyalty programm</a></li>
      <li><a class="color-white" href="#">Payment methods</a></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="width-25 d-flex flex-column">
      <div class="width-100 mb-rem-0_5 d-flex flex-column align-items-center justify-content-start">
        <i class="contactus__icon contactus__icon--phone mb-rem-2"></i>
        <p class="mb-rem-0_5 color-grey-700">+380 111 333 2222</p>
        <p class="mb-rem-0_5 color-grey-700">+380 111 333 2222</p>
      </div>
      <div class="width-100 mb-rem-0_5 d-flex flex-column align-items-center justify-content-start">
        <i class="contactus__icon contactus__icon--email mb-rem-2"></i>
        <p class="mb-rem-0_5 color-grey-700">tkachuk@masseur.com</p>
      </div>
      <div class="width-100 mb-rem-0_5 d-flex flex-column align-items-center justify-content-start">
        <i class="contactus__icon contactus__icon--location mb-rem-2"></i>
        <p class="mb-rem-0_5 color-grey-700">Kyiv, Saratovska str. 10</p>
      </div>
      <div class="width-100 mb-rem-0_5 d-flex flex-column align-items-center justify-content-start">
        <i class="contactus__icon contactus__icon--timetable mb-rem-2"></i>
        <p class="mb-rem-0_5 color-grey-700">Mo - Fr: 09:00 - 20:00</p>
        <p class="mb-rem-0_5 color-grey-700">Sa: 09:00 - 12:00</p>
      </div>
      <div class="width-100 mt-rem-2 d-flex justify-content-center align-items-center">
        <app-social></app-social>
      </div>
    </ul>
    <ul class="width-25 d-flex flex-column">
      <li><a class="color-white" href="#">Service statements</a></li>
      <li><a class="color-white" href="#">Privacy policy</a></li>
      <li><a class="color-white" href="#">Contradictions</a></li>
    </ul>
    <div class="width-100">
      bottom panel goes here
    </div>
  </div>
</div>
