@import 'mixins/_all';
@import 'core-colors';

:host {
  width: 100%;
}

.footer {
  @include bg();
  background-image: url('/assets/img/png/abstract-grey-bg.png');
  overflow: hidden;
  @include lg {
    background-color: transparent;
  }
  @include e('bottom-icon') {
    width: 12px;
    height: 12px;
    background: center no-repeat url('/assets/img/svg/footer-link.svg');
  }
  @include e('contact-icon') {
    width: 25px;
    height: 25px;
    display: flex;
    @include bg();
    @include m('phone') {
      background-image: url('/assets/img/svg/phone.svg');
    }
    @include m('location') {
      background-image: url('/assets/img/svg/location.svg');
    }
    @include m('email') {
      background-image: url('/assets/img/svg/email.svg');
    }
    @include m('timetable') {
      background-image: url('/assets/img/svg/timetable.svg');
    }
  }
  @include e('payment-method') {
    max-width: 100px;
  }
  @include e('bg') {
    width: 100%;
    height: 110%;
    background-image: none;
    position: fixed;
    top: 0;
    z-index: -3;
    @include lg {
      background-image: url('/assets/img/png/abstract-grey-bg.png');
      @include bg();
    }
  }
}
