
$primary-color: #7d6caf;
$bg-color: rgba(46, 49, 49, 0.7);
$font-color--light: ivory;
$font-color--dark: #999;
$border-radius: 15px;
$transition: .5s;


@mixin quote-mark {
  position: absolute;
  height: 24px; width: 24px;
  background-image: url('../icons/quote.svg');
  z-index: 1;
}

:host {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px;
  background-color: $bg-color;
}

.visible-width {
  width: 400px;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 10000px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: $transition;
}

.quote {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &__icon-1 {
    @include quote-mark;
    top: -4px; left: 1px;
    transform: rotate(180deg);
  }

  &__icon-2 {
    @include quote-mark;
    bottom: 40px; right: 0px;
  }
  
  &__text {
    border: 2px solid $primary-color;
    padding: 15px 50px 15px 30px;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: .3px;
    display: inline-block;
    position: relative;
    border-radius: $border-radius;
    color: $font-color--light;
  }
}

.quote-person {
  padding: 5px 0 0 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  & > * {
    user-select: none;
  }

  &__author {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }

  &__name {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
    color: $font-color--light;
  }

  &__about {
    font-size: 12px;
    font-weight: 800;
    word-spacing: 1px;
    letter-spacing: .5px;
    color: $font-color--dark;
  }
}

.social {
  position: absolute; top: 5px; right: 5px;
  transition: .3s;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
  }
  
  &__image-container {
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: $border-radius;
  }

  &__image {
    width: 100%;
  }

  &__icon {
    width: 12px;
    height: 12px;
    position: absolute; top: 3px; right: 2px;
    z-index: 1;
    &--facebook { background-image: url('../icons/facebook.svg'); }
    &--instagram { background-image: url('../icons/instagram.svg'); }
    &--linkedin { background-image: url('../icons/linkedin.svg'); }
  }
}

.controls {
  margin-top: 15px;
  display: flex;
  justify-content: center;

  &__btn {
    width: 15px; height: 15px;
    margin: 10px;
    display: inline-block;
    border-radius: 100px;
    transition: all $transition;
    background-color: $primary-color;
    cursor: pointer;
    &--active {
      width: 40px;
    }
  }
}
