
$primary-color: #7d6caf;
$bg-color: rgba(46, 49, 49, 0.7);
$font-color--light: ivory;
$font-color--dark: #999;

:host {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1.5rem;
  background-color: $bg-color;
}

.visible-width {
  width: 25rem;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 500rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: .3s;
}

.quote {
  width: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  i {
    position: absolute;
    height: 24px; width: 24px;
    background-image: url('../constants/quote.svg');
    z-index: 1;
  }

  &__icon-1 {
    top: -4px; left: 1px;
    transform: rotate(180deg);
  }

  &__icon-2 {
    bottom: 40px; right: 0px;
  }
  
  &__text {
    padding: 1rem 2rem;
    border: 2px solid $primary-color;
    font-size: 1rem;
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: .3px;
    display: inline-block;
    position: relative;
    border-radius: 1rem;
    color: $font-color--light;
  }
  
  &__person {
    padding: .4rem 0 0 0;
    position: relative; left: 9rem;
  }

  &__name {
    color: $font-color--light;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .5px;
  }

  &__about {
    color: $font-color--dark;
    font-size: .8rem;
    font-weight: 800;
    word-spacing: 1px;
    letter-spacing: .5px;
  }
}

.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  &__btn {
    width: 1rem; height: 1rem;
    margin: .5rem;
    display: inline-block;
    border-radius: 50rem;
    transition: all .5s;
    background-color: $primary-color;
    cursor: pointer;
    &--active {
      width: 2.5rem;
    }
  }
}
