
<div class="wrapper">

  <div class="visible-width">
    <div #slide class="slide">
      <div *ngFor="let quote of quotes" class="quote">
        <a [href]="quote.socialLink" class="social">
          <i class="social__icon" [ngClass]="'social__icon--' + quote.socialNetwork"></i>
          <figure class="social__image-container">
            <img class="social__image" [src]="quote.socialImg" alt="Image of quote's author">
          </figure>
        </a>
        <i class="quote__icon-1"></i>
        <i class="quote__icon-2"></i>
        <h3 class="quote__text">{{ quote.text }}</h3>
        <div class="quote-person">
          <p class="quote-person__author">
            <span class="quote-person__name">— {{ quote.name }}</span>
            <span class="quote-person__about">{{ quote.about }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!hideControls" class="controls">
    <a *ngFor="let quote of quotes; let index = index;" (click)="onBtnClick(index)" [ngClass]="{'controls__btn--active': index === currentQuoteIndex}" class="controls__btn"></a>
  </div>

</div>
