
<div class="wrapper">

  <div class="quotes-container" id="">
    <div class="quote">
      <h3 class="quote__text">
        Spread love everywhere you go. Let no one ever come to you without leaving happier
      </h3>
      <h4 class="quote__person">
        <span class="quote__name">— Mother Teresa</span><br>
        <span class="quote__about">Nobel Peace Prize winner</span>
      </h4>
    </div>
  </div>

  <div class="controls">
    <span class="controls__btn controls__btn--active"></span>
    <span class="controls__btn"></span>
    <span class="controls__btn"></span>
    <span class="controls__btn"></span>
  </div>

</div>
