<section class="menu" [ngClass]="{ 'menu--is-shrinked': shrinked }">
  
  <div class="menu__desktop width-100 d-none d-lg-flex justify-content-center transition-1">
    <div class="row no-gutters width-100 max-width-992 px-rem-1">
  
      <div class="col">
        <div class="d-flex justify-content-start align-items-center">
          <app-logo [size]="shrinked ? 'sm' : 'md'"></app-logo>
        </div>
      </div>
  
      <div class="col-8">
        <ul class="width-100 height-100 d-flex align-items-center justify-content-center">

          <li *ngFor="let item of mainMenuItems" class="d-flex align-items-center">
            <div class="header-menu">
              <a [routerLink]="item.href" class="header-menu__title" ngClass="header-menu__title--no-items">
                <span>{{item.name | translate}}</span>
              </a>
            </div>
          </li>

          <li class="d-flex align-items-center">
            <div class="header-menu">
              <a [routerLink]="user ? '/user' : null" routerLinkActive="router-link-active" class="header-menu__title" [ngClass]="{'header-menu__title--no-items': !!user}">
                <i [ngStyle]="{'background-image': 'url(/assets/img/svg/user.svg)'}" class="header-menu__icon"></i>
              </a>
              <ul *ngIf="!user" class="header-menu__list">
                <li *ngFor="let item of userMenuItems" class="header-menu__item">
                  <a [routerLink]="item.href">{{item.name | translate}}</a>
                </li>
              </ul>
            </div>
            <i class="delimeter"></i>
          </li>

          <li class="d-flex align-items-center">
            <div class="header-menu">
              <app-cart [isEmpty]="isCartEmpty$ | async"></app-cart>
            </div>
            <i class="delimeter"></i>
          </li>

          <li class="d-flex">
            <app-language-bar [current]="currentLang$ | async | mapCurrentLangItem" [items]="langMenuItems | mapLangItems" (languageChange)="onLanguageChange($event)"></app-language-bar>
          </li>

        </ul>
      </div>
  
      <div class="col-2">
        <div class="d-flex height-100 justify-content-end align-items-center">
          <app-button-primary title="{{ 'header.book-online' | translate }}" routerLink="/booking"></app-button-primary>
        </div>
      </div>
    
    </div>
  </div>
  
  <div class="menu__mobile width-100 d-flex d-lg-none flex-column border-bottom-1 border-color-lightgrey box-shadow-3">

    <div class="width-100 d-flex justify-content-between align-items-center p-rem-0_5 bg-white">
      <app-logo size="sm"></app-logo>
      <div class="d-flex align-items-center">
        <app-cart [isEmpty]="isCartEmpty$ | async"></app-cart>
        <i class="delimeter"></i>
        <app-language-bar [current]="currentLang$ | async | mapCurrentLangItem" [items]="langMenuItems | mapLangItems" (languageChange)="onLanguageChange($event)" class="mr-rem-1"></app-language-bar>
        <app-hamburger (isOn)="onMobileMenuToggle($event)" class="my-px-10"></app-hamburger>
      </div>
    </div>
    
    <app-expansion-panel [items]="mobileMenuItems" [isOpen]="isOpen"></app-expansion-panel>

  </div>

</section>
