<section class="width-100 height-100 p-rem-3 d-flex justify-content-center">
  
  <div class="width-100 max-width-992 p-rem-0_75 d-flex flex-column bg-dark-transparent bg-blur b-radius-4">
    
    <header class="width-100 pb-rem-1 d-flex justify-content-center">
      <h3 class="font-42 spacing-px-1 font-family-nexa text-shadow-primary color-white ng-star-inserted">Name of massage</h3>
    </header>
    
    <div class="width-100 height-100 d-flex flex-column flex-md-row align-items-center flex-grow-1">
      
      <div class="selector">
        <h5 class="width-100 font-30 font-weight-bold font-family-nexa text-shadow-primary spacing-px-1 color-white">Select date</h5>
        <form [formGroup]="form" class="selector__dp">
          <app-date-picker [dpOptions]="dpOptions" [formControl]="form.get('date')" controlName="date"></app-date-picker>
        </form>
        <h5 *ngIf="timeSlots.length" class="width-100 font-30 font-weight-bold font-family-nexa text-shadow-primary spacing-px-1 color-white">Select time</h5>
        <ul class="time">
          <li *ngFor="let slot of timeSlots" class="time__slot">
            <a (click)="onAddPair(slot)" class="color-white">{{slot.start}}:00</a>
          </li>
        </ul>
      </div>
      
      <div class="date-time-pairs">
        <h5 class="width-100 font-30 d-flex justify-content-center justify-content-md-start font-weight-bold font-family-nexa text-shadow-primary spacing-px-1 color-white">Selected dates</h5>
        <ul class="my-rem-1 d-flex flex-md-column justify-content-center justify-content-md-start flex-grow-1">
          <li *ngFor="let pair of pairs; let index = index;">
            <app-date-time-card (closePair)="onDeletePair(index)" [pair]="pair"></app-date-time-card>
          </li>
        </ul>
        <app-button-primary *ngIf="pairs.length" title="Confirm" filled="true" class="mt-rem-1"></app-button-primary>
      </div>
      
    </div>
    
  </div>

</section>
