
<section class="width-100 height-100 p-rem-3 d-flex justify-content-center">
  
  <div class="width-100 max-width-992 d-flex flex-column bg-dark-transparent bg-blur b-radius-4">
    
    <header class="width-100 p-rem-0_75 d-flex justify-content-center">
      <h3 class="font-42 spacing-px-1 font-family-nexa text-shadow-primary color-white ng-star-inserted">Name of massage</h3>
    </header>
    
    <div class="width-100 height-100 d-flex flex-grow-1">
      
      <div class="width-100 width-lg-50 height-100 px-rem-2 py-rem-1 d-flex flex-column">
        <h5 class="width-100 font-30 font-weight-bold font-family-nexa text-shadow-primary spacing-px-1 color-white">Select date</h5>
        <form [formGroup]="form" class="dp">
          <app-date-picker [formControl]="form.get('date')" controlName="date"></app-date-picker>
        </form>
        <h5 class="width-100 font-30 font-weight-bold font-family-nexa text-shadow-primary spacing-px-1 color-white">Select time</h5>
        <ul class="time">
          <li class="time__slot">09:00</li>
          <li class="time__slot">10:00</li>
          <li class="time__slot">11:00</li>
          <li class="time__slot">12:00</li>
        </ul>
      </div>
      
      <i class="delimeter"></i>
      
      <div class="width-100 width-lg-50 height-100 px-rem-2 py-rem-1 d-flex flex-column">
        <h5 class="width-100 font-30 font-weight-bold font-family-nexa text-shadow-primary spacing-px-1 color-white">Selected dates</h5>
        <ul class="date">
          <li class="date__slot">01.01.2021 09:00-10:00</li>
          <li class="date__slot">01.01.2021 09:00-10:00</li>
          <li class="date__slot">01.01.2021 09:00-10:00</li>
          <li class="date__slot">01.01.2021 09:00-10:00</li>
        </ul>
        
      </div>
      
    </div>
    
  </div>

</section>
