
<section class="width-100 py-rem-2 d-flex flex-column align-items-center justify-content-center align-items-center">
  
  <header class="mb-rem-2 px-rem-2 d-flex flex-column align-items-center">
    <h3 class="font-42 spacing-px-1 font-family-nexa text-shadow-primary color-white">Gift certificates</h3>
    <p class="font-22 font-family-nexa color-white">Some subtitle goes here</p>
  </header>
  
  <div class="d-flex width-100 max-width-992">
    <app-product-card *ngFor="let card of giftCards | translateStringVal" [card]="card" class="width-lg-25 p-rem-1"></app-product-card>
  </div>
  
</section>
