<section class="width-100 py-rem-2 d-flex flex-column align-items-center justify-content-center align-items-center">
  
  <header class="mb-rem-2 px-rem-2 d-flex flex-column align-items-center">
    <h3 class="font-42 spacing-px-1 text-align-center font-family-nexa text-shadow-primary color-primary-500">{{ 'booking.gift.title' | translate }}</h3>
    <p class="font-22 text-align-center font-family-nexa color-primary-500">{{ 'booking.gift.subtitle' | translate }}</p>
  </header>

  <app-gift
    *ngFor="let giftCard of giftCards$ | async"
    (giftClick)="onGiftCardClick($event)"
    [currentlyClicked]="currentlyClickedCard === giftCard"
    [gift]="giftCard"
    clickOutside
    (clickOutside)="onGiftCardClick(null)"
    class="mb-rem-2"
  ></app-gift>
  
</section>
