<section>
  
  <header class="width-100 pos-sticky pos-lg-fixed top-0 z-index-2">
    <app-header [shrinked]="isBelowTreshold$ | async"></app-header>
  </header>
  
  <div #scrollContainer data-scroll-container>

    <app-branding [isVisible]="!(isBelowTreshold$ | async)" (scrollDown)="onScrollDown()"></app-branding>

    <app-certificates (certClick)="onCertClick($event)" (showInfo)="onShowInfo()" [certificates]="certificates" [slides]="slides"></app-certificates>

    <app-brand-services [quotes]="quotes" [productCards]="productCards" (showQuoteModal)="onShowQuoteModal()"></app-brand-services>

    <app-footer></app-footer>

    <div (click)="onScrollTop()" class="scroll-top-button pos-fixed right-0 bottom-0 d-none d-lg-flex transition-1 z-index-1" [ngClass]="{'scroll-top-button--visible': isBelowTreshold$ | async}">
      <app-arrow-animated-button direction="top"></app-arrow-animated-button>
    </div>

  </div>

</section>
