@import 'mixins/_all';

.wrap {
  background-image: url('/assets/img/png/abstract-grey-bg.png');
  @include bg();
}

.auth {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,.22);
  @include e('left') {
    background-image: url('/assets/img/png/service-bg.png');
    backdrop-filter: blur(5px);
    @include bg();
  }
  @include e('right') {
    max-height: 90vh;
  }
  @include e('blurred-bg') {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, .2);
  }
}
