
<div [visibilityObserver]="{ threshold: 0.3 }" (visible)="onVisibilityToggle($event)" class="height-vh-100 width-100 pos-relative d-flex justify-content-center align-items-end">
  <div class="width-100 max-width-992 d-flex">

    <div class="branding height-vh-100 width-100 px-rem-1 d-flex flex-column justify-content-center align-items-center" [ngClass]="{ 'branding--is-visible': isVisible }">
      
      <div class="branding-image d-flex justify-content-center align-items-center" [ngClass]="{ 'branding-image--is-visible': isVisible }">
        <div class="branding-image__wrapper d-inline-flex justify-content-center p-rem-1">
          <figure class="branding-layer-2 width-100 d-flex align-items-end pos-relative">
            <img class="width-100" src="/assets/img/png/profile.png" alt="Profile Picture">
            <figcaption class="branding__signature pos-absolute top-0 width-100 z-index-1">
              <app-brand-signature></app-brand-signature>
            </figcaption>
          </figure>
        </div>
      </div>

      <h1 class="branding__title font-58 color-primary-400 my-rem-1">Sergiy Tkachuk</h1>
      <h3 class="branding__subtitle font-14 color-white">massotherapy</h3>

    </div>

  </div>
</div>
