@import 'mixins/_all';

$blue-1: #9ECAFF;
$grey-1: #4B4B4B;

@mixin info-modal-text {
	line-height: 150%;
	font-size: 16px;
	color: $grey-1;
	text-indent: 30px;
}

.info-modal {
	@media only screen and (min-width: 576px) {
		.info-modal__content {
			column-count: 2;
			column-width: 50%;
		}
	}
	@media only screen and (min-width: 992px) {
		margin: 0 auto;
		border-radius: 4px;
		max-width: 992px;
		margin: auto 0;
		display: flex;
		flex-direction: column;
		position: relative;
		box-shadow: 10px 10px 93px 0px rgba(0,0,0,.75);
		@include bg;
		.info-modal__header {
			flex-direction: row;
		}
		.info-modal__right, .info-modal__left {
			width: 50%;
		}
		.info-modal__content {
			column-count: 3;
			column-width: 33%;
		}
		.info-modal__left {
			transform: translate(20px, -20px);
		}
		.author {
			border-radius: 4px;
		}
	}
	@include e('header') {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	@include e('left') {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		position: relative;
	}
	@include e('right') {
		width: 100%;
		padding: 30px 20px 30px 40px;
	}
	@include e('title') {
		font-size: 42px;
		color: $grey-1;
	}
	@include e('intro') {
		padding: 10px;
		border-top: 2px solid #C3C3C3;
		text-align: justify;
		@include info-modal-text;
	}
	@include e('content') {
		width: 100%;
		padding: 30px 50px 50px;
		column-count: 1;
		column-width: 100%;
		@include info-modal-text;
	}
	@include e('author') {
		width: 100%;
		height: 300px;
		position: relative;
		overflow: hidden;
		box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
		background-image: url('/assets/img/jpg/about-1.jpeg');
		@include bg();
	}
}
