$blue-1: #9ECAFF;
$blue-2: #1f84ff;
$grey-1: #4B4B4B;

@mixin article-bg {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin article-text {
	line-height: 150%;
	font-size: 16px;
	color: $grey-1;
	text-indent: 30px;
}

.wrapper {
	width: 100%;
}

.article {
	@media only screen and (min-width: 576px) {
		.article__content {
			column-count: 2;
			column-width: 50%;
		}
	}
	@media only screen and (min-width: 992px) {
		margin: 0 auto;
		border-radius: 4px;
		.article__header {
			flex-direction: row;
		}
		.article__right, .article__left {
			width: 50%;
		}
		.article__content {
			column-count: 3;
			column-width: 33%;
		}
		.article__left {
			transform: translate(20px, -20px);
		}
		.thumbnail {
			border-radius: 4px;
		}
	}
	max-width: 992px;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: 10px 10px 93px 0px rgba(0,0,0,.75);
	// z-index: 1;
	@include article-bg;
	&__header {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		position: relative;
	}
	&__right {
		width: 100%;
		padding: 30px 20px 30px 40px;
	}
	&__title {
		font-size: 42px;
		color: $grey-1;
	}
	&__intro {
		padding: 10px;
		border-top: 2px solid #C3C3C3;
		text-align: justify;
		@include article-text;
	}
	&__content {
		width: 100%;
		padding: 30px 50px 50px;
		column-count: 1;
		column-width: 100%;
		@include article-text;
	}
}

.thumbnail {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	&__img {
		position: absolute; left: 50%; top: 50%;
		width: 105%;
		height: auto;
		transform: translate(-50%, -50%);
	}
}

.date {
	display: flex;
	flex-direction: column;
	& > * {
		color: $blue-1;
		line-height: 100%;
	}
	&__day {
		font-size: 96px;
		text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
	}
	&__month {
		font-size: 32px;
		text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
		text-transform: uppercase;
	}
}

.control {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-end;
	li {
		width: 40px;
		height: 40px;
		margin-left: 30px;
		position: relative;
	}
	a {
		height: 100%;
		width: 100%;
		display: flex;
	}
}
