<app-dialog-content>
  <div class="wrapper">
  
    <div class="article">
      <div class="article__header">
        <div class="article__left">
          
          <figure class="thumbnail">
            <img src="/assets/img/jpg/about-1.jpeg" alt="Main image" class="thumbnail__img">
          </figure>
          
        </div>
        <div class="article__right">
          
          <h1 class="article__title">config.title</h1>
          
          <p class="article__intro">config.intro</p>
          
        </div>
      </div>
      
      <div class="article__content">config.content</div>
      
    </div>
    
  </div>
</app-dialog-content>
