<app-dialog-content>
  <div class="width-100">
  
    <div class="info-modal bg-composite">
      <div class="info-modal__header">
        
        <div class="info-modal__left">
          <div class="info-modal__author"></div>
        </div>
        
        <div class="info-modal__right">
          <h1 class="info-modal__title">{{ 'about.title' | translate }}</h1>
          <p class="info-modal__intro">{{ 'about.subtitle' | translate }}</p>
        </div>
        
      </div>
      
      <div class="info-modal__content">{{ 'about.content' | translate }}</div>
      
    </div>
  </div>
</app-dialog-content>
