
<section #carousel class="carousel-wrapper">

  <ul class="d-flex pos-relative height-100">
    <li *ngFor="let product of products; let currIdx = index" class="item" [ngClass]="{'item--active': currIdx === active, 'item--next': currIdx === next, 'item--prev': currIdx === prev }">
      <figure class="height-100">
        <a (click)="goToProduct(product.id, currIdx === active)">
          <img class="item__image" src="{{ product.src }}" alt="{{ product.name }}">
          <figcaption *ngIf="product.name" class="item__text" [ngClass]="{ 'item__text--active': currIdx === active }">{{ product.name }}</figcaption>
        </a>
      </figure>
    </li>
  </ul>

  <button class="slider-ctrl slider-ctrl--left" (click)="gotoPrev()">&#60;</button>

  <button class="slider-ctrl slider-ctrl--right" (click)="gotoNext()">&#62;</button>

</section>
