$text-color: #656565;
$warn-color: #ff6363;
$accent-color: #7d6caf;
$border-radius: 4px;

:host {
  margin: 15px 0;
}

.input {
  width: 100%;
  position: relative;
  text-align: left;
  &--invalid {
    .input__field { border-color: $warn-color !important; }
    .input__error { opacity: 1; }
  }
  &__field {
    width: 100%;
    padding: 18px 45px 18px 12px;
    font-size: 16px;
    border: 1px solid;
    border-color: $accent-color;
    border-radius: $border-radius;
    font-family: inherit;
    display: block;
    color: $text-color;
    background-color: transparent;
    transition: border-color .2s;
    outline: 0;
  }
  &__error {
    width: 100%;
    position: absolute; bottom: -15px;
    padding: 5px 5px 0 12px;
    font-size: 10px;
    letter-spacing: .3px;
    text-overflow: ellipsis;
    color: $warn-color;
    opacity: 0;
    transition: opacity .3s;
  }
  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/img/svg/calendar.svg');
  }
}
