
$accent-color: #7d6caf;
$clear-button-color: #e3e3e3;
$clear-button-color-hover: #f6f6f6;

.dp {
  border: 1px solid $accent-color;
  border-radius: 4px;
}

::ng-deep {
  .input-box-container {
    position: relative;
  }
  .input-box {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
}
