
@import '~@angular/material/theming';
@import '../palletes/_all';

@include mat-core(); // Important: to be included only once per project

$app-primary: mat-palette($app-primary);
$app-accent: mat-palette($app-accent);
$app-warn: mat-palette($app-warn);

$app-theme: mat-light-theme(
  $app-primary,
  $app-accent,
  $app-warn
);

@include angular-material-theme($app-theme);
