
.bottom-panel {
  background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(215,215,215,1) 75%, rgba(162,162,162,1) 100%);
}

.social {
  width: 20px;
  height: 20px;
}

.facebook {
  background: no-repeat center url('/assets/img/svg/facebook.svg');
}

.linkedin {
  background: no-repeat center url('/assets/img/svg/linkedin.svg');
}

.instagram {
  background: no-repeat center url('/assets/img/svg/instagram.svg');
}