
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), url('../fonts/Rubik-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Nexa';
  font-style: bold;
  font-weight: 400;
  src: local('Nexa'), url('../fonts/Nexa-Bold.otf') format('truetype')
}
