@import 'mixins/_all';
@import '_core-colors';

.about-page {
  @include bg();
  background-image: url('/assets/img/png/abstract-grey-bg.png');
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-title {
  width: 100%;
  padding: 5rem 1rem 2rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
  background-color: $primary-900;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
}

.about-image {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: $primary-400;
  img {
    width: 80%;
    max-width: 500px;
    height: auto;
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px grey;
  }
}

.about-content {
  max-width: 992px;
  padding: 2rem 1rem;
  &__title {
    font-size: 24px;
    color: $primary-900;
  }
  &__text {
    margin-top: 1rem;
    line-height: 1.5rem;
    color: $grey-700;
  }
  
}
