<section class="about-page">
  
  <app-header shrinked="true" class="width-100 pos-fixed top-0 z-index-2"></app-header>

  <h1 class="about-title">{{ 'about.page-title' | translate }}</h1>

  <figure class="about-image">
    <img src="/assets/img/png/about-bg.png" alt="About page">
  </figure>

  <div class="about-content">
    <h3 class="about-content__title">{{ 'about.block.title' | translate }}</h3>
    <p class="about-content__text">{{ 'about.block.content' | translate }}</p>
  </div>

</section>
