
<h1 class="heading__h1">quote with slider</h1>

<div class="container">
  <div class="slider-width" id="slide">
    <div class="quote">
      <h3 class="quote__qut">
        Spread <span class="quote__qut--joy">love</span> everywhere you go. Let no one ever come to you without leaving <span class="quote__qut--joy">happier</span>
      </h3>
      <h4 class="quote__person">
        <span class="quote__name">—Mother Teresa</span><br>
        <span class="quote__knownfor">Nobel Peace Prize winner</span>
      </h4>
    </div>
    <div class="quote">
      <h3 class="quote__qut">
        Whoever is <span class="quote__qut--joy">happy</span> will make others <span class="quote__qut--joy">happy</span> too
      </h3>
      <h4 class="quote__person">
        <span class="quote__name">—Anna Frank</span><br>
        <span class="quote__knownfor">Author: The Diary of Anne Frank</span>
      </h4>
    </div>
    <div class="quote">
      <h3 class="quote__qut">
        Keep <span class="quote__qut--joy">smilling</span>, because life is a <span class="quote__qut--joy">beautiful</span> thing and there's so much to <span class="quote__qut--joy">smile</span> about
      </h3>
      <h4 class="quote__person">
        <span class="quote__name">—Marilyn Monroe</span><br>
        <span class="quote__knownfor">American actress, model, and singer</span>
      </h4>
    </div>
    <div class="quote">
      <h3 class="quote__qut">
        Be <span class="quote__qut--joy">happy</span> for this moment. This moment is your life
      </h3>
      <h4 class="quote__person">
        <span class="quote__name">—Omar Khayyam</span><br>
        <span class="quote__knownfor">mathematician, astronomer, and poet</span>
      </h4>
    </div>
  </div>
</div>

<div class="slide-btns">
  <span class="slide-btn active"></span>
  <span class="slide-btn"></span>
  <span class="slide-btn"></span>
  <span class="slide-btn"></span>
</div>
